<div class="row" id="filter-actions">
  <div class="col-md-12 filter-lists">
    <div class="panel panel-default">
      <div class="panel-body">
        <ul class="nav nav-pills" role="tablist">
          <li role='presentation' class='title'><a href="#">Filter: </a></li>

          <li role='presentation' class="my-tasks <%= 'active' if @filter_my_tasks == 1 %>">
            <%= link_to 'My Tasks', tasks_path(my_tasks: inverse_filter(@filter_my_tasks)), remote: true %>
          </li>

          <li role='presentation' class="public-tasks <%= 'active' if @filter_public_tasks == 1 %>">
            <%= link_to 'Public Tasks', tasks_path(public_tasks: inverse_filter(@filter_public_tasks)), remote: true %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
