<div class="container">
  <div class="page-header">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <h1>
          Tasks
          <%= link_to 'New', new_task_path, class: 'btn btn-primary btn-lg', remote: true %>
        </h1>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div id="alert-save" class="alert alert-success alert-dismissible hidden" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <p></p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 hidden-sm hidden-xs"></div>
    </div>
    <div class="modal fade" id="modal-task" tabindex="-1" role="dialog"></div>
  </div>

  <div id="tasks" class="row">
    <div class="col-md-12">
        <div id="alert-no-tasks" class="alert alert-info <%= 'hidden' unless @tasks.count == 0 %>" role="alert">
          There are no tasks!
        </div>

        <!-- <ul class="list-group">
          <%= render @tasks %>
        </ul> -->
        <div role="tablist" class="panel-group">
          <%= render @tasks %>
        </div>

        <!-- <div role="tablist" class="panel-group">
            <div class="panel panel-default">
              <div id="task-1" role="tab" class="panel-heading">
                <h4 class="panel-title">
                  <a aria-controls="collapseListGroup1" aria-expanded="true" href="#list-1" data-toggle="collapse" role="button" class=""> Collapsible list group</a>
                </h4>
              </div>

              <div aria-labelledby="task-1" role="tabpanel" class="panel-collapse collapse" id="list-1" aria-expanded="true" style="">
                <ul class="list-group">
                  <li class="list-group-item">Bootply</li>
                  <li class="list-group-item">One itmus ac facilin</li>
                  <li class="list-group-item">Second eros</li>
                </ul>
              </div>
          </div>
        </div> -->

    </div>
  </div>
</div> <!-- /container -->
