// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
  padding-top: 70px;
}

.page-header {
  margin: 20px 0;
}

.page-header .alert {
  margin-bottom: 0;
  margin-top: 15px;
}

div.alert:empty {
  display: none;
}
