// Place all the styles related to the task controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#tasks div.btn-group {
  margin-bottom: 5px;
  margin-top: 5px;
}

.panel-title {
  color: inherit;
  margin-bottom: 10px;
  margin-top: 10px;
}

.task .panel-title {
  font-size: 22px;
  color: #424242;
}

.subtask {
  padding: 0;
}

.subtask .panel-title {
  font-size: 18px;
}

.filter-lists ul {
  position: relative;
  left:50%;
  float:left;
  margin-right:0;
  margin-left:0;
}

.filter-lists li {
  position:relative;
  right:50%;
  float:left;
  margin:0;
}

.filter-lists li.title a {
    background-color: transparent;
    color: #6b6b6b;
    cursor: default;
    font-size: 18px;
    pointer-events: none;
}

.filter-lists li a, .filter-lists li.active a, .filter-lists li.active a:hover {
  color: #424242;
  background-color: #eeeeee;
}

.panel-my-tasks {
    border-color: #ccc;
}

.panel-my-tasks > .panel-heading {
    background-color: #dff0d8;
    border-color: #dff0d8;
    color: #fff;
}

.nav-pills > li.my-tasks.active > a, .nav-pills > li.my-tasks > a:hover {
    background-color: #dff0d8;
}

.panel-public-tasks {
    border-color: #ccc;
}

.panel-public-tasks > .panel-heading {
    background-color: #d9edf7;
    border-color: #d9edf7;
    color: #fff;
}

.nav-pills > li.public-tasks.active > a, .nav-pills > li.public-tasks > a:hover {
  background-color: #d9edf7;
}
// acacac
// 6d6d6d
